.pokemon-type-normal    { background-color: #A8A77A; }
.pokemon-type-fighting  { background-color: #C22E28; }
.pokemon-type-flying    { background-color: #A98FF3; }
.pokemon-type-poison    { background-color: #A33EA1; }
.pokemon-type-ground    { background-color: #E2BF65; }
.pokemon-type-rock      { background-color: #B6A136; }
.pokemon-type-bug       { background-color: #A6B91A; }
.pokemon-type-ghost     { background-color: #735797; }
.pokemon-type-steel     { background-color: #B7B7CE; }
.pokemon-type-fire      { background-color: #EE8130; }
.pokemon-type-water     { background-color: #6390F0; }
.pokemon-type-grass     { background-color: #7AC74C; }
.pokemon-type-electric  { background-color: #F7D02C; }
.pokemon-type-psychic   { background-color: #F95587; }
.pokemon-type-ice       { background-color: #96D9D6; }
.pokemon-type-dragon    { background-color: #6F35FC; }
.pokemon-type-dark      { background-color: #705746; }
.pokemon-type-fairy     { background-color: #D685AD; }
.pokemon-type-stellar   { background-color: #5D5DFF; } /* Color inventado */
.pokemon-type-shadow    { background-color: #3C3C3C; } /* Color inventado */
.pokemon-type-unknown   { background-color: #68A090; } /* Color neutral/misterioso */